:root {
    --font-inter: 'Inter', sans-serif;
}
body {
    font-family: var(--font-inter);
}
.container-fluid.p-0 {
    padding: 0 !important;
    text-align: center;
    background-color: #f8f9fa;
}
p{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 15px;
    padding: 0 10px;
}
.hero{
   padding: 50px 20px;
   margin: 0; 
}
.card{
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    height: auto;
}