:root {
    --font-inter: 'Inter', sans-serif;
    --background: #bbe9db;
}
body {
    font-family: var(--font-inter);
    background-color: var(--background);
}
.container-fluid.p-0 {
    padding: 0 !important;
    text-align: center;
    background-color: var(--background);
}
p{
    font-size: 18px;
    font-weight: 400;
    margin: 20px 15px;
    padding: 0 10px;
}
h2{
    display: block;
    margin: auto 0;
    
}
.hero{
   padding: 50px 20px;
   margin: 0; 
}
.card{
    margin: 20px auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 80%;
    height: auto;
}
.skills{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    padding: 20px;

}
.container{
    border: 2px solid #cfd8dc;
    border-radius: 10px;
    padding: 20px;
    max-width: 400px;
}
.contact{
    padding: 30px 20px;
    margin: 40px 20px;
    text-align: center;

}
.about-container{
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: var(--background);
}
.projects-container{
    margin: auto;
    align-items: center;
    text-align: center;
    background-color: var(--background);
}
.about-image{
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}
em{
    font-style: italic;
    font-weight: 600;
    color: #333;
}